body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* LIGHT MODE */
.light {
  background: #f8fafc;
  color: #111827;
}

/* DARK MODE */
.dark {
  background: #0f172a;
  color: #e5e7eb;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #1e293b, #0f172a);
  color: white;
  padding: 20px;
}

.sidebar-btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #334155;
  color: white;
  cursor: pointer;
}

.sidebar-btn:hover {
  background: #475569;
}

/* TOPBAR */
.topbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 20px;
  border-radius: 12px;
}

.dark .topbar {
  background: #1e293b;
}

/* CARDS */
.card {
  background: white;
  padding: 16px;
  border-radius: 14px;
  margin-bottom: 12px;
}

.dark .card {
  background: #1e293b;
}

/* INPUT */
input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.dark input,
.dark textarea,
.dark select {
  background: #0f172a;
  color: white;
  border: 1px solid #444;
}

/* BUTTON */
button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}